<div class="content">
  <div class="handle"></div>

  <p><%= annotation.body %></p>

  <% if gallery_template == 'edit' %>
    <%= link_to 'Edit', edit_gallery_annotation_path(@gallery, annotation), remote: true %>
    <%= link_to 'Destroy', [@gallery, annotation], method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
  <% end %>
</div>

<div class="separator">
  <%= render 'annotations/new_link' %>
</div>
